@using System.Linq
@using projekt_car_sellers.Models
@model IEnumerable<projekt_car_sellers.Models.ogloszenieZdjecia>

<div id="lewa-kolumna">
    <div id="marki-lista">
        <ul>
            <li>Marka</li>
            @foreach (var item in ViewBag.marki) {
                <li>
                    <p>@item.nazwa</p>
                </li>     
            }
        </ul>
    </div>
</div>

<div id="ogloszenia-lista">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a href="/ogloszenia/podglad/?id=@item.id" class="zdjecie">
                    <img src="@item.url" alt="ogloszenie" class="zdjecie"/>
                </a>
                <a href="/ogloszenia/podglad/?id=@item.id" class="tytul">@item.tytul</a>
            </li>
        }
    </ul>
</div>