<div id="lewa-kolumna">
    <div id="marki-lista">
        <ul>
            <li>Marka</li>
            @foreach (var item in ViewBag.marki) {
                <li>
                    <p>@item.nazwa</p>
                </li>     
            }
        </ul>
    </div>
</div>

<div id="ogloszenia-lista">
    <ul>
        <li>Ogloszenia</li>
        @foreach (var item in ViewBag.ogloszenia) {
            <li>
                <p>@item.id</p>
                <p>@item.opis</p>
            </li>     
        }
    </ul>
</div>